img {
  display: block;
  width: 100%;
}

#gallery {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: -25px;
}
.gallery__item {
  display: flex;
  width: calc(100% / 3 - 25 * 2);
  margin-left: 25px;
}
